.hello {
    height: 333px;
}
.hello__container{
    max-width: 511px;
}
.hello__title {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 29px;
    line-height: 1.361;
}
.hello__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 33.5px;
}
.hello__button{
    float:left;
}