.footer {
    background-color: #001821;
    display: flex;
    align-items: center;
    margin-top: auto;
}
.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__container--main{
    height: 138px;
}
.footer__container--services{
    height: 132px;
}
.footer__col{
    display: flex;
    align-items:center;
}
.footer__coll--align-right{
    justify-content: space-between;
}
.socials{
    height: 36px;
    max-width: 200px;
    display: inline-block;
}
.socials__item{
    height: 36px;
    width: 36px;
    margin-right: 6px;
    display: inline-block;
}
li.socials__item:last-child{
    margin-right: 0;
}

.info__call {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
    text-align: right;
}
.info__phone{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 6.5px;
    margin-left: 74px;
}
.nav{
    margin-left: 79px;
}
.nav__list{
    height: 19px;
}
.nav__item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color:#fff;
    display: inline-block;
    margin-right: 51px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}
li.nav__item:last-child{
    margin-right: 0;
}