.header {
    height:77px;
    margin-bottom: 119px;
}
.logo, .menu, .menu__item, .contacts {
    display: inline-block;
}
.header__logo {
    margin-top: 29px;
}

.header__logo {
    float:left;
}
.header__container{
    position: relative;
}
.contacts {
    float: right;
    margin-top: 32px;
}
.menu {
    margin-top: 39px;
    margin-left: 79px;
    position: absolute;
}
.menu__item {
    margin-right: 51px;
}

.menu__item:last-child {
    margin-right: 0;
}
.menu__link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.357;
}
.contacts__phone {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.01;
}
.contacts__info {
    float: right;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    text-decoration: underline;
}
.menu__link:hover{
    color:  #DA0100;
}