.offers{
    min-height: 549px;
    margin-top: 246px;
}
.offers__list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.offers__title{
    margin-bottom: 51px;
    padding-left: 2px;
}
.offers__title--fire::after {
    display: inline-block;
    margin-left: 12px;
    content:"";
    width: 21px;
    height: 28px;
    background: url(../img/flame.png) no-repeat;
}

.offers__item {
    width: calc(100% /3 - 18px);
    display: flex;
    flex-direction: column;
}
.offers__content{
    background-color: #fff;
    padding: 33px 16px 26px 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 305px;
    flex: 1;
}

.offers__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375;
    color:#000;
}
.offers__features{
    height: 26px;
    display: flex;
    justify-content: flex-start;
    margin-top: 21px;
}
.offers__feature{
    display: flex;
    justify-content: flex-start;
}
.offers__feature--first {
    margin-right: 20px;
}
.offers__feature-icon{
    display:inline;
    margin-left: 5px;
}
li.offers__feature-icon:first-child{
    margin-left: 5px;
}
.offers__feature-text{
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    margin-left: 10px;
}
.offers__text{
    color: #303030;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 23px;
    margin-bottom: 24px;
}
.offers__button{
    width: 135px;
    height: 55px;
    border: 1px solid #F5170E;
    border-radius: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #F5170E;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: auto;
}
.offers__button--light {
    background: #F5170E;
    color: #FFFFFF;
}